<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ルーム - ThreeeCode</title>
    <!-- スタイルシート -->
    <link rel="stylesheet" type="text/css" href="/view/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/view/css/room.css" />
    <!-- フォント -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
    />
    <!-- Vue.js -->
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"
      defer
    ></script>
    <!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/view/js/roomVue.js" defer></script>
  </head>
  <body>
    <div id="app">
      <main class="container">
        <div class="heading">
          <h1 class="title">ルーム</h1>
          <!-- GinがRoom_Nameを埋め込んでHTMLを返してくれる -->
          <div class="sub-title">RoomId: {{.Room_Name}}</div>
          <button class="button" v-on:click="CopyURL">ルームURLをコピー</button>
        </div>
        <div class="flex">
          <section class="comment-section">
            <div class="comment-board">
              <ul>
                <li v-for="(item, index) in aspiration_his" v-bind:key="index">
                  <p v-text="item.aspiration"></p>
                </li>
              </ul>
            </div>
            <div class="comment-box">
              <textarea
                class="comment-textarea"
                type="text"
                v-model="aspiration"
                placeholder="メッセージを入力"
                @keyup.enter="sendMessage(0)"
              ></textarea>
              <div class="comment-button">
                <button class="button" v-on:click="sendMessage(0)">
                  送信する
                </button>
              </div>
            </div>
          </section>
          <section class="comment-section">
            <div class="comment-board">
              <ul>
                <li
                  class="box"
                  v-for="(item, index) in lookback_his"
                  v-bind:key="index"
                >
                  <p v-text="item.lookback"></p>
                </li>
              </ul>
            </div>
            <div class="comment-box">
              <textarea
                class="comment-textarea"
                type="text"
                v-model="lookback"
                placeholder="メッセージを入力"
                @keyup.enter="sendMessage(1)"
              ></textarea>
              <div class="comment-button">
                <button class="button" v-on:click="sendMessage(1)">
                  送信する
                </button>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
