<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ルーム ｜ ほーふる</title>
    <link rel="icon" type="image/x-icon" href="/view/favicon.svg" />
    <!-- スタイルシート -->
    <link rel="stylesheet" type="text/css" href="/view/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/view/css/room.css" />
    <!-- フォント -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
    />
    <!-- Vue.js -->
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"
      defer
    ></script>
    <!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/view/js/roomVue.js" defer></script>
  </head>
  <body>
    <div id="app">
      <main class="container fade">
        <div class="room-wrapper">
          <div class="room-heading">
            <!-- GinがRoom_Nameを埋め込んでHTMLを返してくれる -->
            <h2 class="room-heading__sub-title">ルームID: {{.Room_Name}}</h2>
            <a class="button" v-on:click="CopyURL">ルームURLを共有</a>
            <div class="room-heading__text">
              <p>上のボタンを押して、URLをコピーしよう！</p>
              <p>みんなで今年の振り返り・新年の抱負を書き込もう！</p>
              <p>
                ボードを見ながら、上から誰の反省・抱負かを話し合って当ててみよう！
              </p>
              <p>💡自分の投稿のみ表示を押すと、投稿を押して削除ができます</p>
            </div>
          </div>
          <div class="flex">
            <section class="comment-section">
              <div class="comment-header">
                <h3 class="comment-header__title">今年の振り返り</h3>
              </div>
              <div v-if="true" class="comment-delete-mode">
                <h4>削除モード</h4>
              </div>
              <div class="comment-board">
                <ul class="comment-board__list">
                  <li
                    v-for="(item, index) in aspiration_his"
                    v-bind:key="index"
                    class="comment-board__item"
                  >
                    <p
                      v-text="item.aspiration"
                      v-on:click="doDeleteMessage(item)"
                    ></p>
                  </li>
                </ul>
              </div>
              <div class="comment-box">
                <div class="comment-box__self-post-button">
                  <a class="button-green" v-on:click="returnFetch()"
                    >全て表示</a
                  >
                  <a class="button-green" v-on:click="fetchUser()"
                    >自分の投稿のみ表示</a
                  >
                </div>
                <input
                  class="comment-box__input"
                  type="text"
                  v-model="userNameAsp"
                  placeholder="名前を入力"
                />
                <textarea
                  class="comment-box__textarea"
                  type="text"
                  v-model="aspiration"
                  placeholder="メッセージを入力"
                  @keyup.enter="sendMessage(0)"
                ></textarea>
                <div class="comment-box__buttons">
                  <label class="comment-box__anonymous-switch" for="switch">
                    <input
                      type="checkbox"
                      class="comment-box__anonymous-switch-input"
                      id="switch"
                      v-model="isAnonymous"
                    />
                    <span
                      class="comment-box__anonymous-switch-indicator"
                    ></span>
                    匿名投稿
                  </label>
                  <a class="button" v-on:click="sendMessage(0)">送信する</a>
                </div>
              </div>
            </section>
            <section class="comment-section">
              <div class="comment-header">
                <h3 class="comment-header__title">新年の抱負</h3>
              </div>
              <div v-if="true" class="comment-delete-mode">
                <h4>削除モード</h4>
              </div>
              <div class="comment-board">
                <ul class="comment-board__list">
                  <li
                    v-for="(item, index) in lookback_his"
                    v-bind:key="index"
                    class="comment-board__item"
                  >
                    <p v-text="item.lookback" v-on:click="doDeleteMessage(item)"></p>
                  </li>
                </ul>
              </div>
              <div class="comment-box">
                <div class="comment-box__self-post-button">
                  <a class="button-green" v-on:click="returnFetch()"
                    >全て表示</a
                  >
                  <a class="button-green" v-on:click="fetchUser()"
                    >自分の投稿のみ表示</a
                  >
                </div>
                <input
                  class="comment-box__input"
                  type="text"
                  v-model="userNameLkb"
                  placeholder="名前を入力"
                />
                <textarea
                  class="comment-box__textarea"
                  type="text"
                  v-model="lookback"
                  placeholder="メッセージを入力"
                  @keyup.enter="sendMessage(1)"
                ></textarea>
                <div class="comment-box__buttons">
                  <label class="comment-box__anonymous-switch" for="switch">
                    <input
                      type="checkbox"
                      class="comment-box__anonymous-switch-input"
                      id="switch"
                      v-model="isAnonymous"
                    />
                    <span
                      class="comment-box__anonymous-switch-indicator"
                    ></span>
                    匿名投稿
                  </label>
                  <a class="button" v-on:click="sendMessage(1)">送信する</a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer class="footer"><span>©︎ すりーこーど</span></footer>
      <div id="snackBar" v-text="snackBarMsg"></div>
    </div>
  </body>
</html>
